body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    background-color: lavender;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#mainHeader {
    background:rgb(255, 255, 255);
    color: white;
}

#mainNav {
    background: rgb(255, 255, 255);
    color: rgb(255, 0, 98);
}

#mainNav li {
    display: inline;
    padding: 5px 10px;
}
h1 {
    color: hotpink;
}

p {
    border: 2px solid pink;
    padding: 10px;
    margin-top: 40px;
}
a:link, a:visited {
    background-color: white;
    color: hotpink;
    border-radius: 2px solid hotpink;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: hotpink;
    color: white;
  }